@media only screen and (max-device-width: 400px) {


    :root {
        --white: #ffffff;
        --black: #000000;
        --grey: #4e4e4e;
        --violet: #6102C4;
        --violet-lighter: #8A00FF;
        --violet-darker: #4B008B;
        --light-violet: #E1D1F1;

        --gradient: linear-gradient(#4B008B 0%, #8A00FF 100%);

        --full-border-radius: 10000rem;
    }

    body {
        font-size: 0.8rem;
    }

    .basic-container {
        margin-bottom: 6rem;
    }

    .basic-narrow {
        margin-bottom: 6rem;
    }

    .full-width {
        margin-bottom: 6rem;
    }

    .full-width-violet {

        padding: 2rem 10%;
        background: var(--gradient);
        margin-bottom: 6rem;
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
        color: var(--violet);
        margin-bottom: 1rem;
    }

    p {
        font-weight: 300;
        font-size: 0.85rem;
        margin-bottom: 0.75rem;
    }

    a.button {
        font-size: 0.8rem;
        padding: 0.5rem 1.5rem;
        margin: 0.8rem 0;
    }

    /* Marc */


    /* Slider */

    .slider {
        height: 30rem;
        margin-bottom: 0rem;
    }

    .slider-image {
        object-fit: cover;
    }

    /* Left Right Container */

    .lr-margin{
        margin-bottom: 0rem;
    }

    .left-right-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 10%;
        height: auto;
        margin-bottom: 6rem;
    }

    .lrc-switch {
        flex-direction: column-reverse;
    }

    .lrc-left {
        height: auto;
        width: 100%;
    }

    .lrc-right {
        height: auto;
        width: 100%;
        margin-left: 0;
    }

    img.lrc-image {
        max-height: 30%;
        height: 15rem;
        width: 120%;
        object-fit: cover;
        margin-bottom: 2rem;
    }

    .lrcimg-right {
        position: relative;
        right: 0;
    }

    .lrcimg-left {
        position: relative;
        left: -20%;
    }

    /* Was besonders? */

    .ws-margin{
        margin-bottom: 1rem;
    }

    .why-special-top {
        flex-flow: column nowrap;
        justify-content: flex-start;
        margin-top: 2rem;
        margin-bottom: 0rem;
    }

    .why-special-container {
        width: 100%;
        margin-bottom: 4rem;
    }

    img.wsc-image {
        height: 12rem;
        margin-bottom: 2rem;
    }


    /* Tier? */

    .tier-headline{
        margin-bottom: 2rem;
    }

    .full-with-tier-extra {
        height: auto;
        overflow-y: hidden;
        margin-bottom: 4rem;
    }

    .tiers-container {
        flex-flow: column nowrap;
        justify-content: flex-start;
        margin: 0 10%;

    }

    .tc-tier {
        padding: 2rem 2rem 6rem 2rem;
        width: 100%;
        border-radius: var(--full-border-radius);
        margin-bottom: 4rem;
    }

    .tier-content {
        position: relative;
    }

    .tier-image {
        width: 6rem;
        height: 6rem;
        margin-bottom: 1rem;

    }

    .tier-text {
        font-size: 1rem;
        line-height: 1.7rem;
        margin-bottom: 2rem;

    }

    .price {
        font-size: 1.5rem;
        margin-bottom: 0rem;
    }

    .price-bottom-text {
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
    }

    .tc-gradient-bar {
        display: none;
        height: 15rem;
        top: -15rem;
    }

    .tc-gradient-bar-top {
        display: none;
        height: 7.5rem;
        top: -22.5rem;
    }

    /* Richy */

    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        display: block;
    }

    .nav-mobile nav {
        width: 100%;
        background-color: white;
    }

    .nav-mobile .menu{
        display: none;
    }
    .nav-mobile nav ul{
        list-style: none;
        width: 100%;
    }
    .nav-mobile nav ul li{
		padding: 15px 0px;
        text-align: center;
    }

    .nav-mobile .burgericon {
        position: absolute;
        top: 1.75rem;
        right: 1.5rem;
        width: 30px;
        height: 30px;
        display: block;
    }

    .nav-mobile .burgericon {
        position: absolute;
        width: 30px;
        height: 30px;
        display: block;
        color: var(--violet);
    }

    .nav-mobile .burgericon div {
        width: 90%;
        margin: 7px 5%;
        height: 3px;
        background-color: var(--violet);
       }

    #navigation {
        opacity: 0;
    }
    #navigation:checked~ .nav-mobile .menu{
        display: block;
    }

    #navigation:checked~ #my-menu, .nav-mobile .menu nav ul li{
        display: block;
    }
    #navigation:checked~ .nav-mobile{
        display: block;
    }

    #navigation:checked ~ label .burgericon {
        margin-top: 10px;
    }
    #navigation:checked ~ label .burgericon div:first-of-type{
        rotate: 45deg;
    }
    #navigation:checked ~ label .burgericon div:last-child{
        rotate: -45deg;
        margin-top: -10px;
    }
    #navigation:checked ~ label .burgericon div:nth-child(2){
        display: none;
    }

/*
    .full-nav .menu {
        display: none;
    }
*/
    .top-nav a.button,
    .landing-page .button {
        text-decoration: none;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8rem;
        padding: 0.25rem 0;
        margin: 0.5rem 0;
        width: 120px;

    }   


    .top-nav li:hover,
    .top-nav li .active {
        padding-bottom: 0;
        border-bottom: 0;
    }

    .top-nav nav {
        padding: 0 2rem;
    }

    .top-nav img {
        width: 48px;
    }

    .top-nav-right {
        display: flex;
        padding: 1rem;
        flex-direction: column;
    }

    .top-nav a.border {
        outline-offset: -0.1rem;
    }

    .top-nav .top-nav-right .button {
        margin: 1rem;
    }

    .basic-container.full-nav {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        margin-bottom: 2rem;
        align-items: center;
    }

    .basic-container header {
        display: flex;
        flex-direction: column;
    }

    .basic-container header nav ul {
        display: flex;
        flex-direction: column;
    }

    .basic-container header nav ul li {
        margin: 0 1rem;
    }

    .landing-page {
        position: relative;
        overflow-x: hidden;
        padding-top: 2rem;
        height: 80vh;
        width: 95%;
    }

    .landing-page h1 {
        width: 85%
    }

    .landing-page .landing-page-side {
        width: 80%;
    }

    .landing-page .landing-page-side ul li {
        padding-right: 1rem;
        font-weight: 600;
    }

    .main-cover {
        position: absolute;
        right: -115%;
        bottom: 5%;
        width: 215%;
        animation: breath-mobile 6s ease-in-out infinite;
        overflow-x: hidden;
    }@keyframes breath-mobile{

        0%{
            transform: scale(0.97);
        }
        50%{
            transform: scale(1);
        }
        100%{
            transform: scale(0.97);
        }
    }


    .contact-container {
        padding: 0 1rem;
    }

    .contact-container a,
    .contact-container p {
        font-size: 1rem;
        font-weight: 400;
    }

    .contact-container a {
        font-weight: 600;
    }

    .contact-container .contact-inner {
        margin-top: 2rem;
        width: 100%;
    }

    .contact-container .contact-inner .contact-info {
        margin: 2rem auto;
        padding: 2rem 4rem 2rem 4rem;
    }

    .contact-container img {
        height: 12rem;
        width: 12rem;
    }

    footer {
        text-align: center;
        align-items: center;
    }

    footer a {
        text-decoration: none;
        align-items: center;
    }

    footer .basic-container.footer-container {
        flex-direction: column;
        padding-top: 3rem;
    }

    footer .footer-container a {
        font-weight: 600;
        font-size: 1rem;
    }

    footer .footer-container p {
        font-weight: 400;
        font-size: 1rem;
    }

    footer .footer-container a,
    footer .footer-container p {
        padding: 0.5rem 6rem;
    }



}